:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-secondary: #ffcd00;
}

/* Ensure layout covers the entire screen. */
html {
  height: 100%;
}

body {
  background: #eeeeee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

textarea {
  resize: none !important;
}

.mdc-toolbar-fixed-adjust {
  margin-top: 80px;
}

.mdc-list--two-line .mdc-list-item {
  height: auto;
}

/* Enable line breaks, which are disabled by default in MDC Web. */
.mdc-list-item__secondary-text, .mdc-list-item__text {
  white-space: normal;
}

.mdc-list-item__secondary-text {
  margin-right: 3rem;
}

/* Align chip with paragraph text. */
.mdc-chip {
  margin-left: 0;
}

.mdc-text-field--textarea {
  margin-top: 64px;
}

@media (max-width: 839px) {
  .mdc-layout-grid__cell--span-3, .mdc-layout-grid__cell--span-3-tablet {
    width: auto;
    grid-column-end: span 12;
  }
  .mdc-layout-grid__cell--span-9, .mdc-layout-grid__cell--span-9-tablet {
    width: auto;
    grid-column-end: span 12;
  }
}

.tc-thread {
  padding: 32px 16px;
  margin-bottom: 0;
}

.tc-thread-meta {
  margin-top: 16px;
}

.tc-action-box {
  background: white;
}

.tc-form {
  background: white;
  padding: 16px;
}

.tc-full {
  width: 100%;
}

/* FIXME: Workaround since .secondary-filled-button is broken in MDC Web. */
.tc-raised-secondary {
  background-color: var(--mdc-theme-secondary) !important;
}
