html {
  height: 100%; /* Ensure layout covers the entire screen. */
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

main {
  padding: 16px;
  width: 100%;
}

a {
  text-decoration: none;
}

.tc-create-post {
  bottom: 3rem;
  position: absolute;
  right: 3rem;
}

.tc-content {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto; /* Place drawer and main next to each other. */
  height: 100%;
}
