{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TechChat</title>
    <script src="//cdn.muicss.com/mui-0.9.41/webcomponents/mui-webcomponents.js"></script>
    <link href="//cdn.muicss.com/mui-0.9.41/extra/mui-rem.min.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">
  </head>
  <body class="mdc-typography">
    <header>
      <div>
        <section >
          <span>
            {% block title %}
              TechChat
            {% endblock %}
          </span>
        </section>
        <section>
          <a href="#" aria-label="Refresh this page" alt="Download" onclick="window.location.reload(true);">refresh</a>
          <a href="#"  aria-label="My profile" alt="More">person</a>
          <a href="/web/logout"  aria-label="Logout" alt="More">exit_to_app</a>
        </section>
      </div>
    </header>
    <main id="main" >
      <div >
        <div >
          <div >
            {% block content %}
            {% endblock %}
          </div>
          <div >
            <a href="/web/create-thread" >Create a Thread</a>
            <div>
              <h3 >Threads</h3>
              <ul >
                <li >
                  <span >
                    <i >access_time</i>
                  </span>
                  Recently Viewed
                  <span >99</span>
                </li>
                <li >
                  <span >
                    <i  aria-hidden="true">bookmark</i>
                  </span>
                  Bookmarks
                  <span >99</span>
                </li>
                <li >
                  <span >
                    <i aria-hidden="true">feedback</i>
                  </span>
                  Send Feedback
                </li>
              </ul>
              <h3 >Boards</h3>
              <div >
                {% for board in boards_list %}
                <a href="/web/board/{{ board.id }}/" >
                  {{ board.title }}
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% if snackbar %}
      <div aria-live="assertive" aria-atomic="true" aria-hidden="true" >
        <div ></div>
        <div >
          <button type="button" ></button>
        </div>
      </div>
    {% endif %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@0.31.0/dist/material-components-web.min.js"></script>
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
    {% if snackbar %}
      <script type="text/javascript">
        $(document).ready(function() {
          var snackbar = new mdc.snackbar.MDCSnackbar($('#tc-snackbar')[0]);
          var snackbarOptions =  {
            actionText: 'Ok',
            message: '{{ snackbar }}',
            timeout: 5000,
            actionHandler: function() {}
          };
          snackbar.show(snackbarOptions);
        });
      </script>
    {% endif %}
  </body>
</html>
