{% extends 'base.html' %}
{% block title %}
  {{ board.title }}
  <br />
  <span class="mdc-typography--body1">
    {{ board.description }}
  </span>
{% endblock %}
{% block content %}
  <ul class="mdc-list mdc-list--two-line tc-action-box">
    {% for thread in board.threads %}
    <li href="#" class="tc-thread mdc-list-item">
      <span class="mdc-list-item__text">
        <span class="mdc-typography--display1">{{ thread.title }}</span>
        <span class="mdc-list-item__secondary-text">
          <span class="mdc-typography--subheading2">{{ thread.content }}</span>
          <div class="mdc-chip-set mdc-typography--caption tc-thread-meta">
            <div class="mdc-chip">
              <div class="mdc-chip__text">
                <!-- FIXME: Calculate this in Python. This is horrible practice. The DOM can be corrupted. -->
                <script>
                  document.write(moment("{{ thread.date_created }}", "YYYY-MM-DDTHH:mm:ss.SSSS[Z]").fromNow());
                </script>
              </div>
              <i class="material-icons mdc-chip__icon mdc-chip__icon--trailing">access_time</i>
            </div>
            <div class="mdc-chip">
              <div class="mdc-chip__text">0 Comments</div>
              <i class="material-icons mdc-chip__icon mdc-chip__icon--trailing">comment</i>
            </div>
          </div>
        </span>
      </span>
      <span class="mdc-list-item__meta">
        <i class="material-icons" aria-hidden="true">bookmark</i>
      </span>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
