{% extends 'base.html' %}
{% block content %}
  <form id="create-thread-form" class="tc-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="board" value="" />
    <h1 class="mdc-typography--display1">Create a Thread</h1>
    <div class="mdc-text-field mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
      <input class="mdc-text-field__input" type="text" name="title" required>
      <label for="title" class="mdc-text-field__label">Title</label>
      <div class="mdc-line-ripple"></div>
    </div>
    <br />
    <div id="board-select" class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
      <div class="mdc-select__surface mdc-ripple-upgraded" tabindex="0">
        <div class="mdc-select__label">Board</div>
        <div class="mdc-select__selected-text"></div>
        <div class="mdc-select__bottom-line"></div>
      </div>
      <div class="mdc-menu mdc-select__menu">
        <ul class="mdc-list mdc-menu__items">
          {% for board in boards %}
            <li class="mdc-list-item" role="option" id="{{ board.id }}" tabindex="0">
              {{ board.title }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth mdc-text-field--upgraded" data-mdc-auto-init="MDCTextField">
      <textarea name="content" class="mdc-text-field__input" rows="8"></textarea>
      <label for="content" class="mdc-text-field__label">Content</label>
    </div>
    <br />
    <button class="mdc-button mdc-button--raised tc-raised-secondary" type="submit" form="create-thread-form" value="Submit">Submit</button>
  </form>
{% endblock %}
