{% extends 'base.html' %}
{% block content %}
  <form id="login-form" class="tc-form" method="post">
    {% csrf_token %}

    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
      <input class="mdc-text-field__input" type="text" name="username" required>
      <label for="username" class="mdc-text-field__label">Email Address</label>
      <div class="mdc-line-ripple"></div>
    </div>
    <br />
    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
      <input class="mdc-text-field__input" type="password" name="password" required>
      <label for="password" class="mdc-text-field__label">Password</label>
      <div class="mdc-line-ripple"></div>
    </div>
    <br />
    <br />
    <button class="mdc-button mdc-button--raised tc-raised-secondary" type="submit" form="login-form" value="Submit">Login</button>
  </form>
{% endblock %}
