{% extends 'base.html' %}
{% block content %}
  <form id="login-form" class="mui-form" method="post">
    {% csrf_token %}
    <div class="mui-texfield">
      <input type="text" name="username" required>
      <label for="username">Email Address</label>
      <div></div>
    </div>
    <br />
    <div class="mui-textfield">
      <input type="password" name="password" required>
      <label for="password">Password</label>
    </div>
    <br />
    <br />
    <button type="submit" class="mui-btn but-btn--raised" form="login-form" value="Submit">Login</button>
  </form>
{% endblock %}
