<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mtuosc.techchat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_husky"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_husky_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.AppBarOverlay">
        <activity
            android:name=".activity.PostActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.BoardsActivity">

        </activity>
        <activity
            android:name=".activity.BoardsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.CreatePostActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.PostActivity"/>


        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CreateUserActivity"
            android:label="Sign Up"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>